/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.buttons{
    padding: 10px 20px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.cl-blue{
    color: #0061ff;
}

.bg-blue{
    background-color: #0061ff;
    color: white;
}

.bg-blue:hover{
    background-color: #0077ff;
    transition: 0.1s ease;
}

.bg-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.bg-whitenb{
    background-color: white;
    color: black;
}

.bg-gray{
    background-color: lightgray;
    color: black;
}

.space{
    padding: 30px 0;
}

/*Header*/

header{
    background-color: #b4d0e7;
    margin-bottom: 120px;
}

/*Navbar*/

.navbar{
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.navbar-left, .navbar-right, .navbar-list{
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar-list a{
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}

/*Jumbotron*/

.jumbotron{
    height: 700px;
    padding-top: 110px;
}

.content-top .title{
    font-size: 70px;
    padding: 60px 0;
}

.content-bottom{
    display: flex;
}

.content-left{
    flex-basis: 30%;
}

.content-right{
    flex-basis: 70%;
   
}

.content-right img{
    display: block;
    max-width: 100%;
}

.content-left-text{
    padding-bottom: 30px;
}

.content-left-text-small{
    padding: 30px 0;
}

/*Main text*/

/*small title*/

.title-small{
    font-size: 30px;
    padding: 40px 0;
}

/*circle*/

.circle-row{
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
  
.inner-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.circle-row span { 
    font-size: 16px;
    padding-right: 20px;
}

/* Table*/

.table-business{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
  
.column{
    flex-basis: calc(100% / 3);
    align-items: stretch;
    border: 1px solid lightgray;
}

/*Column Title*/
.column-top{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
 }

.column-title span{
    padding-left: 10px;
}

/*Column Price*/

.column-bottom{
    padding: 20px;
    line-height: 2.0;
}

.column-price{
    padding-bottom: 30px;
}

.column-price h3{
    font-size: 25px;
}

/*column-content*/

.column-content span{
    padding-left: 5px;
}

.border{
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    width: 33.33%;
}

.info{
    padding: 30px 0;
}

/*single table*/

.single-table{
    padding: 50px 0;
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
  }
  
  .table-title {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
  }
  
  .table-row {
    display: flex;
  }
  
  .table-cell-left{
    flex-basis: 70%;
    padding: 10px;
    line-height: 2.0;
  }

  .table-cell-left h3{
    font-size: 25px;
  }

  .table-cell-right{
    flex-basis: 30%;
    padding: 10px;
  }

/*image with text*/

.row{
    display: flex;
    align-items: center;
}

.row img{
    width: 500px;
    height: 500px;
}

.row-left{
    flex-basis: 60%;
}

.row-right{
    flex-basis: 40%;
    line-height: 2.0;
}

.row-right h3{
    font-size: 25px;
}

/*gallery card*/

.title-big{
    font-size: 30px;
    padding: 50px 0;
}

.gallery{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card{
    flex-basis: calc(100% / 3 - 15px);
}

.card img{
    width: 300px;
    height: 300px;
}

.card h3, p{
    padding: 20px 0;
}

.card h3{
    font-size: 25px;
}

.card p{
    font-size: 21px;
}

/*text info*/

.text-info{
    display: flex;
    flex-direction: column;
    padding: 100px 0;

}

.text-info h2, a{
    width: 50%;
    padding: 20px 0;
}

.text-info h2{
    font-size: 30px;
}

/*Squares*/

.clients{
    padding-top: 50px;
}

.clients .squares{
    display: flex;
}

.square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

.square-middle{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.small-square{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 50%;
}

.clients img{
    display: block;
    max-width: 50%;
}


.small-square:hover{
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.bg-green{
    background-color: #a2d39b;
}

.bg-purple{
    background-color: #61082b;
}

.bg-skyblue{
    background-color: #0093ce;
}

.bg-light-red{
    background-color: #ff1c1c;
}
.bg-red{
    background-color: #d5001f;
}
.bg-sky{
    background-color: #b4d0e7;
}
.bg-dark-blue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color: #ffd830;
}

/* Call to action*/

.cta-bg{
    background-color: #b4d0e7;
    height: 300px;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cta h2{
    font-size: 43px;
    color: #61082b;
}

.cta-left{
    flex-basis: 60%;
}

.cta-right{
    flex-basis: 40%;
}

/*FAQ*/

.faq{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.faq-title, .faq-question{
    border-bottom: 1px solid black;
    padding: 40px 0;
}

.faq-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.faq-question .answer{
    display: none;
}

.faq-question:hover .answer{
    display: block;
}

.faq-question:hover .question{
    display: none;
}

.faq i{
    padding-right: 40px;
}

.faq h2{
    font-size: 40px;
}

/*footer*/

footer{
    background-color: black;
}

.nb-footer{
    display: flex;
    padding: 100px 0;
}

.nb-column{
    flex-basis: calc(100% / 5);
    line-height: 2.0;
}

.nb-column ul{
    list-style-type: none;
}

.nb-column a{
    text-decoration: none;
    color: #e9eaeb;
}

.nb-column ul li:first-child{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
    color: white;
}

.border-footer{
    padding: 40px 0;
    border-bottom: 1px solid lightgray;
    width: 15%;
}

.footer-text{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
  
.footer-text i{
    margin-right: 5px;
    color: white;
}
  
.footer-text span{
    font-size: 16px;
    color: white;
    padding: 0 10px;
}
